{% extends "PasswordManager/baselogin.html" %}
{% block content %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Generated Password
            </div>
            <div class="card-body">
              <p class="card-text">Your secure password:</p>
              <input type="text" class="form-control mb-3" id="passwordInput" readonly>
              <button class="btn btn-success btn-block" id="copyButton">Copy to Clipboard</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap JS (optional, for certain features like modal) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
          // Get the password from the backend
          var passwordFromBackend = "{{password}}"; // Replace "YOUR_PASSWORD_HERE" with the actual password from the backend
          $('#passwordInput').val(passwordFromBackend);
      
          // Copy password to clipboard when the button is clicked
          $('#copyButton').click(function() {
            var passwordInput = document.getElementById('passwordInput');
            passwordInput.select();
            document.execCommand('copy');
            alert('Password copied to clipboard!');
          });
        });
      </script>
      {% endblock content %}
  